main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
}
.container h2 {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 2.5rem;
}

.color {
  color: hsl(205, 78%, 60%);
}
#btn:hover {
  color: #fff;
  background-color: #222;
}
